.project
.idea/misc.xml
.idea/modules.xml
.idea/turing-machine-implication.iml
.idea/copyright/profiles_settings.xml
.settings/.jsdtscope
.settings/org.eclipse.wst.jsdt.ui.superType.container
.settings/org.eclipse.wst.jsdt.ui.superType.name
